<!DOCTYPE html>
<html>
<head>
	<title>My Project</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body >

<center>
	<h1 style="color:orange" >My Project Home Page</h1>

</center>
<nav class="navbar navbar-expand-sm bg-light">
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('items')}}">Show Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('newitem')}}">Add Data</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" >
      <a class="nav-link" href="{{url_for('login')}}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('register')}}">Register</a>
    </li>
  </ul>

</nav>

{% block content %}
	{# other html files code is appended b/w "block content" & "endblock" like(register.html / login.html/newitem.html/etc)#}
	{# endblock --> don't have spaces #}
	{% endblock%}
</body>
</html>